// .contentImg{
//   background-image: url(/public/images/movil.png);
//   background-repeat: no-repeat;
//   background-size: cover;
//   background-position: left;
// }
.hero{
  background-image: url(/public/images/movil.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  &__contact{
    .heroWrap-infoContacto_contact{
      text-align: center;
      // background-color: red;
      font-size: .8rem;
      line-height: .2rem;
      .numbers{
        // background-color: seagreen;
          .icon{
              color: $primario2;
              font-size: 1.2rem;
              margin: 0 .5rem;
            }
        p{
          color: #4d4d4d;
        }
      }
      .boton{
        background-color: $primario2;
        padding: .5rem;
        margin: 0 3.5rem;
        border-radius: 1rem;
        a{
          color: $baseredes;
        }

      }
    }
  }
  &__emphasis{
    // background-color: peru;
    margin-top:-1rem;
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    align-items: center;
    text-align: center;
    .hero__title{
      margin: 0 1.5rem;
    }
    .hero__phrase{
      // background-color: rgba(77, 77, 77, 0.1);
      margin:0 1rem;
      text-align: justify;
    }
  }
}
