.hero{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    &__logo{
        // background-color: red;
        grid-column: 8 / 12;
        grid-row: 3 / 4;
        // z-index: 14;
    }
    &__image{
        // background-color: orangered;
        height: 100%;
        // width: 50%;
        margin: -1.5rem 0 0 0;
        grid-column: 1 / 13;
        grid-row: 4 / 10;
        z-index: 15;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          // background-color: palegreen;
          height: 100%;
          margin-right: -5%;

        }
    }
    &__contact{
        // background-color: blueviolet;
        grid-column: 1 / 13;

        grid-row: 2 / 3;
    }
    &__emphasis{
        // background-color: cadetblue;
        grid-column: 1 / 13;
        grid-row: 10 / 13;
        z-index: 20;
        // display: flex;
        // flex-wrap: wrap;
        // align-items: center;
        // justify-content: center;
        // align-content: center;
    }
}

// .hero{
//     // height: 100vh;
//     display: grid;
//     grid-template-columns: repeat(8, 1fr);
//     grid-template-rows: repeat(8, 1fr);
//     &__logo{
//         // background-color: red;
//         grid-column: 1 / 6;
//         grid-row: 2 / 4;
//         z-index: 14;
//     }
//     &__image{
//         // background-color: orangered;
//         grid-column: 5 / 9;
//         grid-row: 3 / 9;
//         z-index: 15;
//     }
//     &__contact{
//         // background-color: blueviolet;
//         grid-column: 7 / 9;
//         grid-row: 2 / 4;
//     }
//     &__emphasis{
//         // background-color: cadetblue;
//         grid-column: 3 / 9;
//         grid-row: 7 / 9;
//         z-index: 20;
//         display: flex;
//         flex-wrap: wrap;
//         align-items: center;
//         justify-content: center;
//         align-content: center;
//     }
// }


